@import "tailwindcss";
@import "./styles/fonts.css";
:root {
  --primary: #eebb7a;
  --secondary: #415564;
  --tertiary: #d3e3eb;
}
.border-primary {
  border-color: var(--primary);
}
.bg-primary {
  background-color: var(--primary);
}
.text-primary {
  color: var(--primary);
}
.border-secondary {
  border-color: var(--secondary);
}
.bg-secondary {
  background-color: var(--secondary);
}
.text-secondary {
  color: var(--secondary);
}
.border-tertiary {
  border-color: var(--tertiary);
}
.bg-tertiary {
  background-color: var(--tertiary);
}
.text-tertiary {
  color: var(--tertiary);
}
.custom-shadow {
  box-shadow: 0 2px 23px 2px rgba(0, 0, 0, 0.1);
}
/* button:focus,
button:active, */
button:hover {
  opacity: 0.8;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.4s ease-out forwards;
}

.swiper-pagination-bullet {
  background-color: #fff !important;
  opacity: 1 !important;
  width: 14px !important;
  height: 14px !important;
  margin: 0 4px !important;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #eebb7a !important;
  opacity: 1;
  transform: scale(1.2);
}
